*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box;
}
body{
    background:url("../images/saloon-login-background6.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
form{
    /*box-shadow: inset 0px 0px 1px 1px #19A23A;*/
    display: flex;
    flex-direction: column;
    background-color: #FFE6EE;
    border-radius:1px;
    padding:50px;
    font-size: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0/0.2);
    border-radius: 3px;
}

input[type="text"]{
    border-radius: 1px;
    width:350px;
    height: 50px;
    outline: none;
    /*border:1px solid gainsboro;*/
    border:1px solid #ec275f;
    margin:20px 0;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
}
input[type="password"]{
    border-radius: 0;
    width:350px;
    height: 50px;
    outline: none;
    /*border:1px solid gainsboro;*/
    border:1px solid #ec275f;
    margin:20px 0;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type="submit"]{
    border-radius: 0;
    width:350px;
    height: 50px;
    outline: none;
    border:1px solid #ec275f;
    margin:20px 0;
    background: #ec275f;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
}
.danger{
    color:white;
    border-radius:2px;
    width:350px;
    height: 50px;
    border:1px solid #E70045;
    margin:5px 0;
    padding: 0 10px;
    box-sizing: border-box;
    background: #E70045;
    display: inline-flex;
    align-items: center;
}
.cool{
    color:white;
    border-radius:2px;
    width:350px;
    height: 50px;
    border:1px solid #53D16E;
    margin:5px 0;
    padding: 0 10px;
    box-sizing: border-box;
    background: #53D16E;
    display: inline-flex;
    align-items: center;
    text-align: center;
}
.login-box{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    
   
}
label.error {
    color: red;
}
@media screen and (max-width:1000px) and (min-width:737.0001px){

}

@media screen and (max-width:737px) and (min-width:500.0001px){

}

@media screen and (max-width:500px){

input[type="text"]{
    width:250px;
}
input[type="submit"]{
    width:250px;
    }
    input[type="password"]{
        width:250px;
    }
    select{
        width:250px; 
    }
    .danger{
        width:250px;
    }
    .cool{
        width:250px;
    }
}

